.aboutMeSection {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-top: 11rem;
  margin-left: 9rem;
}

.Heading2 {
  align-items: flex-start;
  height: -moz-fit-content;
  height: fit-content;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 61px;
  color: #00587a;
  margin-left: -19rem;
  margin-top: -2rem;
  /* padding: 4rem; */
}

.Passage1 {
  width: -moz-fit-content;
  width: 30rem;
  height: -moz-fit-content;
  height: fit-content;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 115%;
  color: #4a4d50;
  margin-left: -1rem;
  margin-top: -1rem;
}

.Passage2 {
  width: -moz-fit-content;
  /* width: fit-content; */
  width: 30rem;
  height: -moz-fit-content;
  height: fit-content;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 115%;
  color: #4a4d50;
  margin-top: -2rem;
  margin-left: -1rem;
}

.iconify {
  color: #27292c;
}
@media only screen and (min-device-width: 412px) and (max-device-width: 767px) {
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .aboutMeSection {
    margin-top: -1rem;
  }
  .Heading2 {
    margin-left: -40rem;
  }
  .Passage1 {
    font-size: 20px;
    width: 54rem;
    line-height: 25px;
    margin-left: 0rem;
    margin-bottom: 23px;
  }
  .Passage2 {
    font-size: 20px;
    width: 54rem;
    line-height: 25px;
    margin-top: -31px;
    line-height: 23px;
  }
}
@media only screen and (min-width: 1224px) {
  .Passage1 {
    font-size: 23px;
  }
  .Passage2 {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1668px) {
  .Heading2 {
    margin-left: -60rem;
  }
  .Passage1 {
    width: 74rem;
    margin-left: 0rem;
    font-size: 23px;
    line-height: 2rem;
  }
  .Passage2 {
    font-size: 23px;
    width: 74rem;
    margin-left: 0rem;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 1824px) {
  .aboutMeSection {
    margin-top: -3rem;
  }
  .Heading2 {
    margin-top: 4rem;
    margin-left: -80rem;
  }
  .Passage1 {
    margin-left: 0rem;
    font-size: 23px;
    line-height: 25px;
    width: 79rem;
  }

  .Passage2 {
    font-size: 23px;
    line-height: 25px;
    width: 79rem;
  }
}
