body {
  margin: 0;
  padding: 0;
  background: #f1f6f9;
  max-width: 100vw;
  overflow-x: hidden;
}

/* .hero {
  position: relative;
  width: 1441px;
  height: 768px;
  left: -1px;
  top: 95px;
}
.Heading1 {
  position: relative;
  width: 445px;
  left: 70px;
  top: -578px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 85px;
  color: #ffffff;
  width: 75px;
  margin-right: -200px;
}

.Heading2 {
  position: relative;
  height: 61px;
  left: 144px;
  top: -297px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #00587a;
  width: 75px;
  margin-right: -200px;
}

.Passage1 {
  position: relative;
  width: 1176px;
  height: 120px;
  left: 140px;
  top: -287px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 145.2%;
  color: #4a4d50;
}

.Passage2 {
  position: relative;
  width: 1176px;
  height: 400px;
  left: 140px;
  top: -285px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 145.2%;
  color: #4a4d50;
}

.iconify {
  color: #27292c;
  position: relative;
  left: 690px;
  top: -225px;
}
.Heading3 {
  position: relative;
  width: 75px;
  margin-right: -200px;
  height: 61px;
  right: -650px;
  top: -159px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #394867;
}

.skillcardgroup {
  position: relative;
  width: 1158px;
  height: 112px;
  left: 144px;
  top: -100px;
}

.skillcard1 {
  position: absolute;
  left: 0%;
  right: 71.5%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(180.75deg, #244555 42.03%, #27292c 139.12%);
  border-radius: 15px;
  display: inline;
}

.skills1 {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 24.94px;
  left: 21px;
  bottom: 273px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  display: none;
}

.skillcard1:hover {
  width: 329px;
  height: 400px;
}
.skillcard1:hover .skills1 {
  display: inline;
}

p.cardtitle1 {
  position: absolute;
  left: 114px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #f1f6f9;
}

.skillcard2 {
  position: absolute;
  left: 35.75%;
  right: 35.75%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(180.75deg, #244555 42.03%, #27292c 139.12%);
  border-radius: 15px;
}

.skills2 {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 24.94px;
  left: 21px;
  bottom: 273px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  display: none;
}
.skillcard2:hover {
  width: 329px;
  height: 400px;
  display: inline;
}
.skillcard2:hover .skills2 {
  display: inline;
}

p.cardtitle2 {
  position: absolute;
  left: 114px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #f1f6f9;
}

.skillcard3 {
  position: absolute;
  left: 71.5%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(180.75deg, #244555 42.03%, #27292c 139.12%);
  border-radius: 15px;
}
.skills3 {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 24.94px;
  left: 21px;
  bottom: 273px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  display: none;
}

.skillcard3:hover {
  width: 329px;
  height: 400px;
}
.skillcard3:hover .skills3 {
  display: inline;
}

p.cardtitle3 {
  position: absolute;
  left: 114px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #f1f6f9;
}

.Heading4 {
  position: relative;
  height: 48px;
  left: 144px;
  top: 170px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #00587a;
  width: 75px;
  margin-right: -200px;
}

.ProjectHeading1 {
  position: relative;
  left: 289px;
  top: 149px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #394867;
  border: none;
  background: none;
  width: 75px;
  margin-right: -200px;
}
.ProjectHeading2 {
  position: relative;
  left: 950px;
  top: 149px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #394867;
  border: none;
  background: none;
  width: 75px;
  margin-right: -200px;
}
.DevelopmentDescription {
  position: relative;
  width: 1156px;
  left: 183px;
  top: 200px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 173%;
  color: #4a4d50;
}
.DesignDescription {
  position: relative;
  width: 1156px;
  left: 183px;
  top: 200px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 173%;
  color: #4a4d50;
} */
