.Main-Sec {
  display: flex;
  align-items: center;

  justify-content: center;
  height: 20rem;
  width: 100vw;
  background-color: #27292c;
}
.Top-compass {
}
.Html-compass {
  color: #ffffff;
  font-family: Proxima Nova;
  opacity: 0.8;
  align-self: self-start;
  margin-left: -16rem;
  margin-top: 2rem;
}
.Css-compass {
  color: #ffffff;
  font-family: Proxima Nova;
  opacity: 0.8;
  align-self: self-start;
  margin-left: 3rem;
  margin-top: 2rem;
}
.Bottom-compass {
}

.Js-compass {
  color: #ffffff;
  font-family: Proxima Nova;
  opacity: 0.8;
  align-self: flex-end;

  margin-bottom: 2rem;
}
.React-compass {
  color: #ffffff;
  font-family: Proxima Nova;
  opacity: 0.8;
  align-self: flex-end;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.Middle-compass {
}
.Lean-compass {
}
.Design-compass {
}
.Stand-alone {
}
.compassRose {
  width: auto;
  height: 15.7rem;
  align-items: center;
  opacity: 0.6;
  margin-left: -45%;
}

.Heading1 {
  width: 18rem;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 2rem;
  color: #ffffff;
  margin-right: 0rem;
  margin-top: -1rem;
  margin-left: 1rem;
  z-index: 1;
}

@media only screen and (min-device-width: 414px) {
  .Main-Sec {
    margin-left: 47px;
  }
  .hero {
    height: 13.8rem;
  }
  .Heading1 {
    margin-top: -12rem;
    margin-left: -8rem;
  }
}

@media only screen and (min-device-width: 768px) {
  .Main-Sec {
    margin-left: 14rem;
    margin-top: -95px;
  }
  .hero {
    height: 25.6em;
    margin-top: 5.8rem;
  }
  .Heading1 {
    margin-right: 15rem;
    margin-top: -23rem;
    margin-bottom: 9rem;
    font-size: 50px;
    width: 317px;
    line-height: 62px;
  }
}

@media only screen and (min-width: 1024px) {
  .Main-Sec {
    margin-left: 22rem;
  }
  .Heading1 {
    margin-right: 9rem;
    margin-top: -29rem;
    font-size: 65px;
    width: 597px;
    line-height: 82px;
  }

  .hero {
    height: 34.1em;
  }
}

@media only screen and (min-width: 1224px) {
  .Main-Sec {
    margin-left: 22rem;
  }
  .Heading1 {
    margin-right: 3rem;
    margin-top: -38rem;
    margin-bottom: 9rem;
    font-size: 75px;
    width: 717px;
    line-height: 89px;
  }
  .hero {
    height: 47.456em;
  }
}

@media only screen and (min-width: 1668px) {
  .Main-Sec {
    margin-left: 42rem;
  }

  .hero {
    height: 55.599em;
  }
  .Heading1 {
    margin-right: 28rem;
    margin-top: -42rem;
    margin-bottom: 9rem;
    font-size: 91px;
    width: 830px;
    line-height: 100px;
  }
}
@media only screen and (min-width: 1824px) {
  .Main-Sec {
    margin-left: 45rem;
  }

  .hero {
    height: 62.9em;
  }
  .Heading1 {
    margin-right: 25rem;
    margin-top: -49rem;
    margin-bottom: 9rem;
    font-size: 110px;
    width: 1030px;
    line-height: 118px;
  }
}

@media only screen and (min-width: 2500px) {
  .Main-Sec {
    margin-left: 70rem;
  }
  .hero {
    height: 85.3em;
  }
  .Heading1 {
    margin-right: 37rem;
    margin-top: -58rem;
    font-size: 110px;
    width: 1030px;
    line-height: 10rem;
  }
}
