.Project-sec {
  display: flex;
  height: 20rem;
}

.Heading4 {
  font-family: Proxima Nova;
  height: fit-content;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 61px;
  color: #00587a;
  margin-left: 2rem;
}

.ProjectHeading1 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 61px;
  color: #394867;
  border: none;
  background: none;
  width: fit-content;
  height: fit-content;
  margin-top: 6rem;
  margin-left: -8rem;
}

.ProjectHeading2 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 61px;
  color: #394867;
  border: none;
  background: none;
  margin-left: 13rem;
  width: fit-content;
  height: fit-content;
  margin-top: 6rem;
  margin-left: 2rem;
}

.DevelopmentDescription {
  font-family: Proxima Nova;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #4a4d50;
  margin-top: -9rem;
  margin-left: 1rem;
  width: 360px;
}

.DesignDescription {
  font-family: Proxima Nova;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #4a4d50;
  margin-top: -9rem;
  margin-left: 1rem;
  width: 360px;
}

@media only screen and (min-device-width: 412px) and (max-device-width: 767px) {
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
@media only screen and (min-width: 1224px) {
}
@media only screen and (min-width: 1668px) {
  .Heading4 {
    margin-top: 5rem;
    margin-left: 15rem;
  }

  .ProjectHeading1 {
    margin-left: 8rem;
    margin-top: 12rem;
  }
  .ProjectHeading2 {
    margin-left: 50rem;
    margin-top: 12rem;
  }
  .DevelopmentDescription {
    width: 75rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
  }
  .DesignDescription {
    width: 75rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
  }
}

@media only screen and (min-width: 1824px) {
  .Heading4 {
    margin-left: 12rem;
  }
  .ProjectHeading1 {
    margin-left: 18rem;
    margin-top: 12rem;
  }
  .ProjectHeading2 {
  }
  .DesignDescription {
    width: 79rem;
  }
  .DevelopmentDescription {
    width: 79rem;
  }
}
