.aboutMeSection {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-top: 2rem;
  margin-left: 0rem;
}

.Heading2 {
  align-content: flex-start;
  height: fit-content;
  font-family: Proxima Nova;
  font-size: 25px;
  line-height: 61px;
  color: #00587a;
  margin-left: -13.5rem;
  margin-top: -2rem;
}

.Passage1 {
  width: 325px;
  font-family: Proxima Nova;
  font-style: normal;

  font-size: 1rem;
  line-height: 1.4rem;
  color: #4a4d50;
  margin-left: 0rem;
  margin-top: -1rem;
}

.Passage2 {
  width: 325px;
  height: fit-content;
  font-family: Proxima Nova;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #4a4d50;
  margin-left: 0rem;
  margin-top: -1rem;
}

.iconify {
  color: #27292c;
}
@media only screen and (min-device-width: 414px) {
  .aboutMeSection {
    margin-top: 8rem;
  }
}
@media only screen and (min-device-width: 768px) {
  .aboutMeSection {
    margin-top: 1rem;
  }
  .Heading2 {
    margin-left: -28rem;
  }
  .Passage1 {
    font-size: 18px;
    width: 35rem;
  }
  .Passage2 {
    font-size: 18px;
    width: 35rem;
  }
}
@media only screen and (min-device-width: 1024px) {
  .aboutMeSection {
    margin-top: 9rem;
  }
  .Heading2 {
    margin-left: -40rem;
    font-size: 50px;
    margin-left: -45rem;
  }
  .Passage1 {
    font-size: 21px;
    width: 54rem;
    line-height: 1.5rem;
    margin-left: 0rem;
    margin-bottom: 23px;
  }
  .Passage2 {
    font-size: 21px;
    width: 54rem;
    line-height: 1.5rem;
    margin-top: -31px;
    line-height: 23px;
  }
}
@media only screen and (min-width: 1224px) {
  .aboutMeSection {
    margin-top: 17rem;
  }
  .Passage1 {
    font-size: 21px;
  }
  .Passage2 {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1668px) {
  .aboutMeSection {
    margin-top: 19rem;
  }
  .Heading2 {
    margin-left: -66rem;
    font-size: 60px;
  }
  .Passage1 {
    width: 74rem;
    margin-left: 0rem;
    line-height: 2rem;
  }
  .Passage2 {
    width: 74rem;
    margin-left: 0rem;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 1824px) {
  .aboutMeSection {
    margin-top: 17rem;
  }
  .Heading2 {
    margin-top: 4rem;
    margin-left: -80rem;
  }
  .Passage1 {
    margin-left: 0rem;

    width: 79rem;
  }

  .Passage2 {
    width: 79rem;
  }
}

@media only screen and (min-width: 2130px) {
  .Passage1 {
    width: 90rem;
  }
  .Passage2 {
    width: 90rem;
  }
}
