@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.navbackground {
  display: flex;
  width: 100vw;
  height: 75px;
  background: linear-gradient(180.75deg, #244555 42.03%, #27292c 139.12%);
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.logo {
  height: 6rem;
  width: auto;
  margin-left: -1.5rem;
}
.nav-right {
  display: flex;
  justify-content: space-evenly;
  margin-left: -1rem;
}
.nav-left {
  display: flex;
  justify-content: space-evenly;
}
.link1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  margin-right: 10px;
}
.link2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
}
.linkedinlogo {
  content: url(https://api.iconify.design/brandico:linkedin-rect.svg?color=%23FFFFFF&width=40px&height=40px);
  height: 1.5rem;
}
.githublogo {
  content: url(https://api.iconify.design/bx:bxl-github.svg?color=%23FFFFFF&width=50px&height=50px);
  height: 2rem;
  margin-top: -0.25rem;
  margin-left: 10px;
  margin-right: -1rem;
}
@media only screen and (min-device-width: 768px) {
  .navbackground {
    height: 85px;
  }
  .logo {
    height: 7rem;
    width: auto;
  }
  .link1 {
    font-size: 20px;
  }
  .link2 {
    font-size: 20px;
    margin-left: 1rem;
  }
  .linkedinlogo {
    height: 2rem;
    margin-left: 4rem;
    margin-right: 1rem;
  }
  .githublogo {
    height: 2.5rem;
    margin-top: -0.25rem;
  }
  .nav-right {
    margin-left: -6rem;
  }
  .nav-left {
    margin-right: -6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .navbackground {
    height: 85px;
  }
  .logo {
    height: 7rem;
    width: auto;
    margin-left: -1.5rem;
  }
  .link1 {
    font-size: 20px;
  }
  .link2 {
    font-size: 20px;
    margin-left: 1rem;
  }
  .linkedinlogo {
    height: 2rem;
    margin-left: 4rem;
    margin-right: 1rem;
  }
  .githublogo {
    height: 2.5rem;
    margin-top: -0.25rem;
  }
  .nav-right {
    margin-left: -6rem;
  }
  .nav-left {
    margin-right: -6rem;
  }
}
@media only screen and (min-width: 1224px) {
  .navbackground {
    justify-content: space-around;
    height: 95px;
  }
  .logo {
    height: 8rem;
    width: auto;
    margin-left: -1.5rem;
  }
  .link1 {
    font-size: 25px;
  }
  .link2 {
    font-size: 25px;
    margin-left: 2rem;
  }
  .linkedinlogo {
    height: 2.5rem;
    margin-left: 4rem;
    margin-right: 2rem;
  }
  .githublogo {
    height: 3rem;
    margin-top: -0.25rem;
  }
  .nav-right {
    margin-left: -6rem;
  }
  .nav-left {
    margin-right: -6rem;
  }
}
@media only screen and (min-width: 1668px) {
  .navbackground {
    justify-content: space-around;
    height: 95px;
  }
  .logo {
    height: 8rem;
    width: auto;
    margin-left: -1.5rem;
  }
  .link1 {
    font-size: 25px;
  }
  .link2 {
    font-size: 25px;
    margin-left: 2rem;
  }
  .linkedinlogo {
    height: 2.5rem;
    margin-left: 4rem;
    margin-right: 2rem;
  }
  .githublogo {
    height: 3rem;
    margin-top: -0.25rem;
  }
  .nav-right {
    margin-left: -10rem;
  }
  .nav-left {
    margin-right: -10rem;
  }
}
@media only screen and (min-width: 1824px) {
  .navbackground {
    justify-content: space-around;
    height: 100px;
  }
  .logo {
    height: 8.5rem;
    width: auto;
    margin-left: -1.5rem;
  }
  .link1 {
    font-size: 28px;
  }
  .link2 {
    font-size: 28px;
    margin-left: 2rem;
  }
  .linkedinlogo {
    height: 2.5rem;
    margin-left: 4rem;
    margin-right: 2rem;
  }
  .githublogo {
    height: 3rem;
    margin-top: -0.25rem;
  }
  .nav-right {
    margin-left: -10rem;
  }
  .nav-left {
    margin-right: -10rem;
  }
}

@media only screen and (min-width: 2130px) {
}
