body{
    margin: 0;
    padding: 0;
    position: relative;
    width: 1440px;
    height: 4296px;
    background: #F1F6F9;
}

.nav{

    display: flex;
    text-decoration: none;
    background: linear-gradient(175.59deg, #244555 5.24%, #477577 107.81%);
    justify-content: space-around;
    height:75px;
    padding: 0;
    margin: 0;
}
img.logo{
    padding: 10px;
    margin: 10px;
    position: relative;
    top: 6px;
    left: 5px;
}

ul{
    text-decoration: none;  
    list-style-type: none;
    font-family: viga;
    align-items: center;
    font-size: 25px;
    line-height: 47.04px;
    color: azure;
    padding: 20px;
}
li{
    padding: 10;
}

.homePageBanner{
    height: 100vh;
    background:#848181;
}

.intro{
    position: absolute;
width: 435px;
height: 360px;
left: 138px;
top: 165px;

font-family: Viga;
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 94px;
display: flex;
align-items: center;

color: #FFFFFF;
}

.step1{
    position: absolute;
width: 358px;
height: 81px;
left: 138px;
top: 693px;

font-family: Viga;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 81px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}

.step2{
    position: absolute;
width: 286px;
height: 81px;
left: 631px;
top: 693px;

font-family: Viga;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 81px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}

.step3{
    position: absolute;
width: 217px;
height: 81px;
left: 1044px;
top: 693px;

font-family: Viga;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 81px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}

.Heading1{position: absolute;
    width: 213px;
    height: 67px;
    left: 144px;
    top: 916px;
    
    font-family: Viga;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 67px;
    
    color: #00587A;}

.Passage1{
    position: absolute;
    width: 1176px;
    height: 217px;
    left: 140px;
    top: 1025px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 151.2%;
    color: #4A4D50;
    }
.skillcard1{
    position: absolute;
width: 330px;
height: 112px;
left: 149px;
top: 1469px;

background: linear-gradient(180deg, #204051 -9.16%, #497879 104.82%);
border-radius: 15px;
}
p.cardtitle1{
    position: absolute;
    left: 114px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #F1F6F9;
}
.skillcard2{
    position: absolute;
width: 330px;
height: 112px;
left: 563px;
top: 1469px;

background: linear-gradient(180deg, #204051 -9.16%, #497879 104.82%);
border-radius: 15px;
}
p.cardtitle2{
    position: absolute;
    left: 114px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #F1F6F9;   
}
.skillcard3{
    position: absolute;
width: 330px;
height: 112px;
left: 977px;
top: 1469px;
background: linear-gradient(180deg, #204051 -9.16%, #497879 104.82%);
border-radius: 15px;
}
p.cardtitle3{
    position: absolute;
    left: 114px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #F1F6F9;   
}