body {
  margin: 0;
  padding: 0;
  background: #f1f6f9;
  max-width: 100%;
  overflow-x: hidden;
}

.navbackground {
  position: fixed;

  height: 95px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -1.05%;
  background: linear-gradient(180.75deg, #244555 42.03%, #27292c 139.12%);
  z-index: 10;
}

ul.nav {
  list-style: none;
}

.link1 {
  position: absolute;
  left: 1.74%;
  right: 91.74%;
  top: 34px;
  bottom: 38.95%;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;

  color: #ffffff;
}
img.logo {
  position: relative;
  top: -36px;
  left: 45%;
}
.link2 {
  position: absolute;
  width: 200px;
  left: 14.24%;
  right: 77.92%;
  top: 34px;
  bottom: 40%;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  color: #ffffff;
}

.linkedinlogo {
  content: url(https://api.iconify.design/brandico:linkedin-rect.svg?color=%23FFFFFF&width=40px&height=40px);
  vertical-align: -0.125em;
  position: absolute;
  top: 27px;
  left: 87%;
}

.githublogo {
  content: url("https://api.iconify.design/bx:bxl-github.svg?color=%23FFFFFF&width=50px&height=50px");
  vertical-align: -0.125em;
  position: absolute;
  top: 22px;
  left: 95%;
}

.hero {
  position: relative;
  width: 1441px;
  height: 768px;
  left: -1px;
  top: 95px;
}
.Heading1 {
  position: relative;
  width: 463px;
  left: 70px;
  top: -650px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 85px;
  color: #ffffff;
}

.Heading2 {
  position: relative;
  height: 61px;
  left: 144px;
  top: -297px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #00587a;
}

.Passage1 {
  position: relative;
  width: 1176px;
  height: 120px;
  left: 140px;
  top: -287px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 145.2%;
  color: #4a4d50;
}

.Passage2 {
  position: relative;
  width: 1176px;
  height: 200px;
  left: 140px;
  top: -285px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 145.2%;
  color: #4a4d50;
}

.iconify {
  color: #27292c;
  position: relative;
  left: 690px;
  top: -225px;
}
.Heading3 {
  position: relative;
  height: 61px;
  right: -650px;
  top: -159px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #394867;
}

.skillcardgroup {
  position: relative;
  width: 1158px;
  height: 112px;
  left: 144px;
  top: -100px;
}

.skillcard1 {
  position: absolute;
  left: 0%;
  right: 71.5%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(180.75deg, #244555 42.03%, #27292c 139.12%);
  border-radius: 15px;
  display: inline;
}

.skills1 {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 24.94px;
  left: 21px;
  bottom: 273px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  display: none;
}

.skillcard1:hover {
  width: 329px;
  height: 400px;
}
.skillcard1:hover .skills1 {
  display: inline;
}

p.cardtitle1 {
  position: absolute;
  left: 114px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #f1f6f9;
}

.skillcard2 {
  position: absolute;
  left: 35.75%;
  right: 35.75%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(180.75deg, #244555 42.03%, #27292c 139.12%);
  border-radius: 15px;
}

.skills2 {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 24.94px;
  left: 21px;
  bottom: 273px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  display: none;
}
.skillcard2:hover {
  width: 329px;
  height: 400px;
  display: inline;
}
.skillcard2:hover .skills2 {
  display: inline;
}

p.cardtitle2 {
  position: absolute;
  left: 114px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #f1f6f9;
}

.skillcard3 {
  position: absolute;
  left: 71.5%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(180.75deg, #244555 42.03%, #27292c 139.12%);
  border-radius: 15px;
}
.skills3 {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 24.94px;
  left: 21px;
  bottom: 273px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  display: none;
}

.skillcard3:hover {
  width: 329px;
  height: 400px;
}
.skillcard3:hover .skills3 {
  display: inline;
}

p.cardtitle3 {
  position: absolute;
  left: 114px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #f1f6f9;
}

.Heading4 {
  position: relative;
  height: 48px;
  left: 144px;
  top: 170px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #00587a;
}
